---
apiVersion: v1
kind: ConfigMap
metadata:
  name: descheduler-policy-configmap
  namespace: kube-system
data:
  policy.yaml: |
    apiVersion: "descheduler/v1alpha2"
    kind: "DeschedulerPolicy"
    profiles:
      - name: ProfileName
        pluginConfig:
        - name: "DefaultEvictor"
        - name: "RemovePodsViolatingInterPodAntiAffinity"
        - name: "RemoveDuplicates"
        # - name: "HighNodeUtilization"
        #   args:
        #     evictableNamespaces:
        #       exclude:
        #       - "kube-system"
        #       - "metallb-system"
        #     thresholds:
        #       "cpu" : 30
        #       "memory": 25
        #       "pods": 10
        #   evictionModes:
        #     - "OnlyThresholdingResources"
        - name: "LowNodeUtilization"
          args:
            evictableNamespaces:
              exclude:
              - "kube-system"
              - "metallb-system"
            thresholds:
              "cpu" : 10
              "memory": 10
              "pods": 8
            targetThresholds:
              "cpu" : 30
              "memory": 25
              "pods": 13
        plugins:
          balance:
            enabled:
              - "LowNodeUtilization"
              - "RemoveDuplicates"
              # - "HighNodeUtilization"
          deschedule:
            enabled:
              - "RemovePodsViolatingInterPodAntiAffinity"
