apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft
  template:
    metadata:
      labels:
        app: minecraft
    spec:
      containers:
        - name: minecraft
          image: itzg/minecraft-server:latest            
          env:
            - name: EULA
              value: "TRUE"
            - name: MEMORY
              value: "8192M"
            - name: ONLINE_MODE
              value: "FALSE" 
            - name: TYPE
              value: "FABRIC"
            - name: MODRINTH_PROJECTS
              value: "OhduvhIc"
            - name: MODRINTH_DOWNLOAD_DEPENDENCIES
              value: "required"
          resources:
            requests:
              memory: "8192Mi"
              cpu: "10m"
            limits:
              memory: "8192Mi"
              cpu: "1000m"  
          volumeMounts:
            - mountPath: /data
              name: nfs
              subPath: applications/minecraft/volumes/data
      tolerations:
        - key: "node.kubernetes.io/unreachable"
          operator: "Exists"
          effect: "NoExecute"
          tolerationSeconds: 15
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"    
          effect: "NoExecute"    
          tolerationSeconds: 15          
      volumes:
        - name: nfs
          persistentVolumeClaim:
            claimName: truenas-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: minecraft-service
  annotations:
    metallb.io/address-pool: internal-pool
    metallb.io/allow-shared-ip: "shared-ip"
spec:
  type: LoadBalancer
  selector:
    app: minecraft
  ports:
    - name: minecraft
      port: 25565
      targetPort: 25565
      protocol: TCP